@use "/src/assets/style/vars.scss" as *;

$page-name-font-size: clamp(70px, 3vh + 6vw, 7.5vw);

$card-heading-font-size: clamp(17px, 2vh + 2.5vw, 2.7vw);
$card-author-font-size: clamp(10px, 1vh + 1vw, 1vw);
$card-text-font-size: clamp(12px, 2vh + 2.5vw, 1.4vw);
$card-button-font-size: clamp(15px, 2vh + 2.5vw, 1.5vw);
$card-mark-text-font-size: clamp(10px, 1vh + 1.1vw, 1.3vw);


.games-catalog-container {
    padding: 7vh 4%;

    >h1 {
        text-align: center;
        font-family: $second_font;
        font-size: $page-name-font-size;
    }

    background-image: url(game-background.png);
    background-size: 100%;
}

.games-catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
    margin-top: 4vh;
}

.game-card {
    box-sizing: border-box;
    border: 2px solid #fff4f4;
    transition: 0.3s;
    background-color: #1c002f;

    h1 {
        font-family: $second_font;
        font-size: $card-heading-font-size;
    }

    h2 {
        font-weight: 1;
        font-size: $card-author-font-size;
    }

    aspect-ratio: 3 / 4;
    height: 500px;
    min-height: 200px;
}

.game-card:hover {
    border: 2px solid #da81f8;
    padding: 1.5%;
    transform: scale(1.05);
    cursor: pointer;
}

.game-card-content {
    display: flex;
    flex-direction: column;
    height: 55%;

    p {
        margin-top: 5%;
        font-size: $card-text-font-size;
    }
}

.game-card-button {
    margin-top: auto;
    padding: 2%;
    background-color: #da01dc;
    align-self: center;
    width: 75%;

    span {
        display: flex;
        font-family: $second_font;
        justify-self: center;
        font-size: $card-button-font-size;
    }
}

.game-card-button:hover {
    background-color: #bd03c0;
}

.marks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    margin-top: 4%;
}

.mark {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    height: auto;
    border: 1px solid #da81f8;
    padding: 2%;
    gap: 1vw;
    
    span {
        font-size: $card-mark-text-font-size;
    }
}

.mark-image {
    aspect-ratio: 1 / 1;
    height: 1em;
    width: auto;
}

@media(max-width: 1500px) {
    .game-card {
        height: 400px;
    }
} 

@media(max-width: 1200px) {
    .game-card {
        height: 350px;
    }
} 

@media(max-width: 1000px) {
    .game-card {
        height: 300px;
    }
}

@media(max-width: 900px) {
    .game-card {
        height: 250px;
    }
}
