@use "/src/assets/style/vars.scss" as *;

$page-name-font-size: clamp(70px, 3vh + 6vw, 7.5vw);

$card-heading-font-size: clamp(17px, 2vh + 2.5vw, 2.7vw);
$card-author-font-size: clamp(10px, 1vh + 1vw, 1vw);
$card-text-font-size: clamp(12px, 2vh + 2.5vw, 1.4vw);
$card-button-font-size: clamp(15px, 2vh + 2.5vw, 1.5vw);
$card-mark-text-font-size: clamp(10px, 1vh + 1.1vw, 1.3vw);


.games-catalog-container {
    padding: 7vh 4%;

    >h1 {
        text-align: center;
        font-family: $second_font;
        font-size: $page-name-font-size;
    }

    background-image: url(/game-background.png);
    background-size: 100%;
}

.games-catalog {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 3vw;
    margin-top: 4vh;
}

.game-card {
    box-sizing: border-box;
    border: 2px solid #fff4f4;
    transition: 0.3s;
    background-color: #1c002f;

    h1 {
        font-family: $second_font;
        font-size: $card-heading-font-size;
    }

    h2 {
        font-size: $card-author-font-size;
        font-weight: 400;
    }

    aspect-ratio: 3 / 4;
    height: 35vw;
    min-height: 200px;
}

.game-card:hover {
    border: 2px solid #da81f8;
    -webkit-box-shadow: -1px 0px 27px 23px rgba(218, 129, 248, 0.2);
    -moz-box-shadow: -1px 0px 27px 23px rgba(218, 129, 248, 0.2);
    box-shadow: -1px 0px 27px 23px rgba(218, 129, 248, 0.2);
    padding: 20px;
    transform: scale(1.05);
    cursor: pointer;
}

.game-card-content {
    display: flex;
    flex-direction: column;
    height: 55%;

    p {
        margin-top: 5%;
        font-size: $card-text-font-size;
    }
}

.game-card-button {
    margin-top: auto;
    padding: 2%;
    background-color: #da01dc;
    align-self: center;
    width: 75%;

    span {
        display: flex;
        font-family: $second_font;
        justify-self: center;
        font-size: $card-button-font-size;
    }
}

.game-card-button:hover {
    background-color: #bd03c0;
}

.marks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    margin-top: 4%;
}

.mark {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    height: auto;
    border: 1px solid #da81f8;
    padding: 2%;
    gap: 1vw;
    
    span {
        font-size: $card-mark-text-font-size;
    }
}

.mark-image {
    aspect-ratio: 1 / 1;
    height: 1em;
    width: auto;
}

@media(max-width: 1500px) {
    .game-card {
        height: 500px;
    }
} 

@media(max-width: 1350px) {
    .game-card {
        height: 400px;
    }
    .game-card:hover {
        padding: 15px;
    }
} 

@media(max-width: 1100px) {
    .game-card {
        height: 300px;
    }
}

@media(max-width: 900px) {
    .game-card {
        height: 250px;
    }
}
