@font-face {
    font-family: "Comic Sans MS";
    src: url(../fonts/ComicSansMS.ttf);
}

@font-face {
    font-family: "Handjet";
    src: url(../fonts/Handjet/static/Handjet-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Handjet";
    src: url(../fonts/Handjet/static/Handjet-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Handjet";
    src: url(../fonts/Handjet/static/Handjet-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Handjet";
    src: url(../fonts/Handjet/static/Handjet-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Handjet";
    src: url(../fonts/Handjet/static/Handjet-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Handjet";
    src: url(../fonts/Handjet/static/Handjet-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Handjet";
    src: url(../fonts/Handjet/static/Handjet-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Handjet";
    src: url(../fonts/Handjet/static/Handjet-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Handjet";
    src: url(../fonts/Handjet/static/Handjet-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: "Barcade";
    src: url(../fonts/Barcade.ttf);
}