/* ШРИФТЫ */
$second_font: "Handjet";
$main-font: "Barcade";

/* ЦВЕТА */
$main-text-color: whitesmoke;

/* РАЗМЕРЫ  */
$catalog-font-size: clamp(18px, 0.6vh + 1vw, 2.5vw);
$studio-logo-font-size: clamp(9px, 0.6vh + 0.4vw, 1.8vw);
$links-size: clamp(1.1vw, 1vh + 1vw, 2.5vw);

$footer-heading-font-size: clamp(18px, 0.6vh + 1vw, 2.5vw);

* {
    padding: 0;
    margin: 0;
    color: $main-text-color;
}

html {
    background-color: #1c002f;
}

a {
    color: $main-text-color;
    font-family: $second_font;
}

h1 {
    font-family: $main-font;
}

h2 {
    font-family: $second_font;
}

p {
    font-family: $second_font;
}

main {
    /*background: url(paper.png) no-repeat #1C002F;*/
    background: #1C002F;
    background-size: cover;
}

header {
    position: sticky;
    top: 0;
    height: 6.5vh;
    width: 100%;
    background: #400468;

    display: flex;
    white-space: nowrap;
    z-index: 1000;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("paper.png");
    background-size: cover;

    mix-blend-mode: soft-light;
    pointer-events: none; /* чтобы клики проходили */
    z-index: 1;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; /* чтобы контент был поверх blend-а */
    width: 100%;
    padding: 0 3%;

    .site-catalog {
        display: flex;
        align-items: center;
        gap: 1.8vw;
        font-size: $catalog-font-size;

        a {
            transition: 0.5s;
            cursor: pointer;
        }

        a:hover {
            color: rgb(187, 187, 187);
        }
    }
}

.studio-logo {
        display: flex;
        align-items: center;
        gap: 2vw;
        span {
            color: $main-text-color;
            font-family: $main-font;
            font-size: $studio-logo-font-size;
        }
    }

.logo-image {
    height: 4.7vh;
}

.links {
    position: absolute;
    height: $links-size;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5vw;

    img {
        transition: 0.5s;
    }

    img:hover {
        transform: scale(1.15) rotate(10deg);
        cursor: pointer;
    }
}

.header-catalog-mobile {
    height: 100%;
    width: 5vw;
}

.catalog-icon {
    position: absolute;
    right: 0.1vw;
    background: url(menu.svg) center no-repeat;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.menu-catalog {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 25px;
    border: solid #ca78e6 2px;
    top: 6.5vh;
    right: 0.1vw;
    background-color: #1c002f;
    color: white;
    gap: 7px;
    span {
        font-family: $second_font;
        cursor: pointer;
    }
    img {
        height: 100%;
        width: 20px;
        cursor: pointer;
        transition: 0.5s;
    }
    img:hover {
        transform: scale(1.15) rotate(10deg);
        cursor: pointer;
    }
}

.menu-links {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.mob {
    padding-top: 10px;
}

footer {
    height: 15vh;
    background-color: #400468;
    padding: 1%;
}

.footer-content {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 100%;
    width: 100%;

    >div {
        height: 100%;
    }
}

.footer-preview {
    display: flex;
    align-items: center;
    height: 100%;
    gap:2%;

    img {
        height: 10vh;
    }
}

.footer-preview-text {
    height: 80%;
    h1  {
        font-size: $footer-heading-font-size;
    }
    align-self: flex-start;
}

.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  position: relative;
  height: 35vh;
  font-weight: bold;
  color: #da81f8;
  font-weight: 900;
  text-align: center;
  font-family: $main-font;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 30px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}


@media(max-width: 600px) {
    .studio-logo {
        gap: 5vw;
    }
    .logo-image {
        height: 4vh;
    }
}