@use "/src/assets/style/vars.scss" as *;

/* РАЗМЕРЫ  */
$catalog-font-size: clamp(18px, 0.6vh + 1vw, 2.5vw);
$studio-logo-font-size: clamp(9px, 0.6vh + 0.4vw, 1.8vw);
$links-size: clamp(1.1vw, 1vh + 1vw, 2.5vw);
$footer-links-size: clamp(15px, 1vh + 1.2vw, 3vw);

$footer-heading-font-size: clamp(10px, 0.6vh + 0.8vw, 0.9vw);
$footer-text-font-size: clamp(12px, 0.6vh + 1vw, 2.5vw);

$default-text-font-size: clamp(10px, 0.6vh + 0.8vw, 0.9vw);

* {
    padding: 0;
    margin: 0;
    color: $main-text-color;
}

html {
    background-color: #1c002f;
}

main {
    min-height: 78.5vh;
}

a {
    color: $main-text-color;
    font-family: $second_font;
}

h1 {
    font-family: $main-font;
}

h2 {
    font-family: $second_font;
}

h3 {
    font-family: $second_font;
}

span {
    font-family: $second_font;
}

p {
    font-family: $second_font;
}

main {
    /*background: url(paper.png) no-repeat #1C002F;*/
    background: #1C002F;
    background-size: cover;
}

header {
    position: sticky;
    top: 0;
    height: 6.5vh;
    width: 100%;
    background: #400468;

    display: flex;
    white-space: nowrap;
    z-index: 1000;
    min-height: 50px;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(/paper.png);
    background-size: cover;

    mix-blend-mode: soft-light;
    pointer-events: none; /* чтобы клики проходили */
    z-index: 1;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; /* чтобы контент был поверх blend-а */
    width: 100%;
    padding: 0 3%;

    .site-catalog {
        display: flex;
        align-items: center;
        gap: 1.8vw;
        font-size: $catalog-font-size;

        a {
            transition: 0.5s;
            cursor: pointer;
        }

        a:hover {
            color: rgb(187, 187, 187);
        }
    }
}

.studio-logo {
    display: flex;
    align-items: center;
    gap: 2vw;
    span {
        color: $main-text-color;
        font-family: $main-font;
        font-size: $studio-logo-font-size;
    }
    img {
        transition: 1s;
    }
}

.studio-logo {
    img:hover {
        transform: scale(1.05) rotate(-10deg);
        cursor: pointer;
    }
}

.logo-image {
    height: 4.7vh;
    min-height: 30px;
}

.links {
    position: absolute;
    height: $links-size;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5vw;

    img {
        transition: 0.5s;
        min-height: 20px;
    }

    img:hover {
        transform: scale(1.15) rotate(10deg);
        cursor: pointer;
    }
}

.header-catalog-mobile {
    height: 100%;
    width: 5vw;
}

.catalog-icon {
    position: absolute;
    right: 0.1vw;
    background: url(/menu.svg) center no-repeat;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.menu-catalog {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 25px;
    border: solid #ca78e6 2px;
    top: 6.5vh;
    right: 0.1vw;
    background-color: #1c002f;
    color: white;
    gap: 7px;
    span {
        font-family: $second_font;
        cursor: pointer;
    }
    img {
        height: 100%;
        width: 20px;
        cursor: pointer;
        transition: 0.5s;
    }
    img:hover {
        transform: scale(1.15) rotate(10deg);
        cursor: pointer;
    }
}

.menu-links {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.mob {
    padding-top: 10px;
}

footer::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(/paper.png);
    background-size: cover;

    mix-blend-mode: soft-light;
    pointer-events: none; /* чтобы клики проходили */
    z-index: 1;
}


footer {
    position: relative;
    height: 15vh;
    background-color: #400468;
}

.footer-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(80px, 1fr);
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 1% 4%;

    >div {
        height: 100%;
    }
}

.footer-preview {
    display: flex;
    align-items: center;
    height: 100%;
    gap:5%;

    img {
        height: 10vh;
        min-height: 30px;
    }
}

.footer-preview-text {
    display: flex;
    align-items: center;
    height: 60%;
    h1  {
        font-size: $footer-heading-font-size;
        line-height: 140%;
        white-space: nowrap;
    }
    p {
        font-size: $footer-text-font-size;
    }
}

.footer-links {
    img {
        transition: 0.5s;
        height: $footer-links-size;
    }

    img:hover {
        transform: scale(1.15) rotate(10deg);
        cursor: pointer;
    }
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #4d0280;
    margin-left: 1%;
}

.text {
    display: flex;
    flex-direction: column;
    font-family: $second_font;
    h4 {
        font-size: $footer-text-font-size;
    }
    p {
        font-size: $default-text-font-size;
    }
}

.developers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    p {
        cursor: pointer;

        >span {
            font-weight: 1000;
        }
    }

    p:hover {
        color: #da01dc;

        >span {
            color: #da01dc;
        }
    }
}

@media(max-width: 700px) {
    footer {
        padding: 2%;
        height: auto;
    }
}

@media(max-width: 600px) {
    .footer-preview {
        img {
            height: 7vh;
        }
    }
    .studio-logo {
        gap: 5vw;
    }
    .logo-image {
        height: 4vh;
    }
}