* {
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    height: 2000px;
}

a {
    color: whitesmoke;
    font-family: "Montserrat";
}

main {
    /*background: url(paper.png) no-repeat #1C002F;*/
    background: #1C002F;
    background-size: cover;
}

header {
    position: sticky;
    top: 0;
    height: 6.5vh;
    width: 100%;
    background: #400468;
    overflow: hidden; /* важно, чтобы ::before не вылезал */

    display: flex;
    white-space: nowrap;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("paper.png");
    background-size: cover;

    mix-blend-mode: soft-light;
    pointer-events: none; /* чтобы клики проходили */
    z-index: 1;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; /* чтобы контент был поверх blend-а */
    width: 100%;
    padding: 0 3%;

    .studio-logo {
        display: flex;
        align-items: center;
        gap: 2vw;
        span {
            color: whitesmoke;
            font-family: "Barcade";
            font-size: clamp(5px, 0.5vh + 0.4vw, 1.8vw);
        }
        .logo-image {
            height: 4.7vh;
        }
    }

    .site-catalog {
        display: flex;
        align-items: center;
        gap: 1.8vw;
        font-size: clamp(12px, 0.6vh + 0.7vw, 2vw);
    }    
}

.links {
    position: absolute;
    height: clamp(1.1vw, 1vh + 1vw, 2.5vw);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5vw;

    img {
        transition: 0.5s;
    }

    img:hover {
        transform: scale(1.15) rotate(10deg);
        cursor: pointer;
    }
}

.mob {
    padding-top: 10px;
}