* {
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    height: 2000px;
}

a {
    color: whitesmoke;
    font-family: "Handjet";
}

main {
    /*background: url(paper.png) no-repeat #1C002F;*/
    background: #1C002F;
    background-size: cover;
}

header {
    position: sticky;
    top: 0;
    height: 6.5vh;
    width: 100%;
    background: #400468;

    display: flex;
    white-space: nowrap;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("paper.png");
    background-size: cover;

    mix-blend-mode: soft-light;
    pointer-events: none; /* чтобы клики проходили */
    z-index: 1;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; /* чтобы контент был поверх blend-а */
    width: 100%;
    padding: 0 3%;

    .site-catalog {
        display: flex;
        align-items: center;
        gap: 1.8vw;
        font-size: clamp(18px, 0.6vh + 1vw, 2.5vw);
    }    
}

.studio-logo {
        display: flex;
        align-items: center;
        gap: 2vw;
        span {
            color: whitesmoke;
            font-family: "Barcade";
            font-size: clamp(9px, 0.6vh + 0.4vw, 1.8vw);
        }
    }

.logo-image {
    height: 4.7vh;
}

.links {
    position: absolute;
    height: clamp(1.1vw, 1vh + 1vw, 2.5vw);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5vw;

    img {
        transition: 0.5s;
    }

    img:hover {
        transform: scale(1.15) rotate(10deg);
        cursor: pointer;
    }
}

.header-catalog-mobile {
    height: 100%;
    width: 5vw;
}

.catalog-icon {
    position: absolute;
    right: 0.1vw;
    background: url(menu.svg) center no-repeat;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.menu-catalog {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 25px;
    border: solid #ca78e6 2px;
    top: 6.5vh;
    right: 0.1vw;
    background-color: #1c002f;
    color: white;
    gap: 7px;
    span {
        font-family: 'Handjet';
        cursor: pointer;
    }
    img {
        height: 100%;
        width: 20px;
        cursor: pointer;
        transition: 0.5s;
    }
    img:hover {
        transform: scale(1.15) rotate(10deg);
        cursor: pointer;
    }
}

.menu-links {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.mob {
    padding-top: 10px;
}

@media(max-width: 600px) {
    .studio-logo {
        gap: 5vw;
    }
    .logo-image {
        height: 4vh;
    }
}