.home_preview::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(paper.png);
    background-size: cover;

    mix-blend-mode: soft-light;
    pointer-events: none; /* чтобы клики проходили */
    z-index: 1;
}

.home_preview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Handjet';
    font-size: 2vw;
    color: whitesmoke;
    padding: 5% 0;
}

.studio-name {
    h1 {
        font-family: "Barcade";
        line-height: 140%;
        letter-spacing: 0.4vw;
        font-size: clamp(0.5vw, 2.5vh + 3vw, 5vw);
    }
    h2 {
        font-family: "Montserrat";
        font-weight: 500;
        margin-top: 2%;
        font-size: clamp(10px, 1vh + 1vw, 1.6vw);
    }
}

.preview-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.preview-section:first-child {
    width: 40%;
    padding: 0 0 0 5%;
    gap: 7vh;
}

.preview-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    color: white;
    font-size: 20px;

    border-width: 24px;
    border-style: solid;
    border-image: url(game-button.png) 35 fill stretch;

    span {
        font-size: clamp(10px, 1vh + 1vw, 2vw);
        font-family: "Barcade";
    }
}


.preview-section:last-child {
    width: 30%;
}

.panda-preview {
    height: auto;
    max-height: 70vh;
}