@use "/src/assets/style/global.scss";

/* ШРИФТЫ */
$button-font: "Handjet";

/* РАЗМЕРЫ */
$logo-preview-font-size: clamp(20px, 2.5vh + 3vw, 5vw);
$preview-text-size: clamp(15px, 1vh + 1.5vw, 2.2vw);
$button-font-size: clamp(10px, 1vh + 1.5vw, 1.5vw);

$about-heading-font-size: clamp(12px, 1vh + 1.3vw, 2.2vw);
$about-block-heading-font-size: clamp(10px, 0.9vh + 1.1vw, 1.3vw);
$about-block-text-font-size: clamp(12px, 0.9vh + 1.1vw, 1.3vw);

.preview-image {
    background: url(full_preview1.png) no-repeat;
    background-size: 100%;
}

.home_preview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vw;
    color: whitesmoke;
    padding: 5% 0;
    min-height: 200px;
}

.studio-name {
    h1 {
        line-height: 140%;
        letter-spacing: 0.4vw;
        font-size: $logo-preview-font-size;
    }
    h2 {
        font-weight: 500;
        margin-top: 2%;
        font-size: $preview-text-size;
    }
}

.preview-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    white-space: nowrap;
}


.preview-section:first-child {
    width: 40%;
}

.preview-section:last-child {
    width: 30%;
}

.panda-preview {
    height: auto;
    max-height: 70vh;
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: $button-font-size;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    background: url(paper2.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;

    .about-content-heading {
        display: flex;
        justify-content: center;
        white-space: nowrap;

        >h1 {
            font-size: $about-heading-font-size;
        }

        >h1:first-child {
            margin-bottom: 1%;
        }
        >h1:nth-child(2) {
            margin-top: 10%;
        }
    }
}

.little_about {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
    margin-top: 4%;
    gap: 2vw;
    z-index: 100;
    text-align: center;
}

.about-block {
    display: inline-block;
    background: url(about-block.png) no-repeat;
    background-size: 100%;
}

.about-block:first-child {
    margin-top: 10px;
}

.about-block:nth-child(3) {
    margin-top: 30px;
}

.about-block:nth-child(4) {
    margin-top: 5px;
}

.about-block-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 78%;
    margin: 9% 9%;
    padding: 4%;
    background-color: #1c002f;
    z-index: 100;

    color: whitesmoke;
    h1 {
        margin-top: 20%;
        font-size: $about-block-heading-font-size;
        white-space: nowrap;
    }
    p {
        margin-top: 15%;
        font-size: $about-block-text-font-size;
    }
}

@media(max-width: 600px) {
    .home_preview {
        justify-content: space-between;
        // align-items: flex-start;
        gap: 5%;
        padding: 6%;
        background-size: cover;
    }
    .preview-section {
        justify-content: flex-start;
    }
    .preview-section:first-child {
        z-index: 2;
        width: 50%;
    }
    .preview-section:last-child {
        justify-content: flex-end;
        width: 50%;
    }
    .about-content-heading {
        margin-top: 4%;
    }
    .little_about {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 5%;
    }
}