@use "/src/assets/style/vars.scss" as *;

.games-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;

    h1 {
        font-size: clamp(13px, 1vh + 2vw, 3vw);
        margin-left: 2%;
    }
    h2 {
        font-size: clamp(12px, 1vh + 1.6vw, 1.7vw);
    }
}

.games-preview {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    height: 60vh;
}

.game-card-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 40%;
    border-top: 2px solid #cf273a;
    border-bottom: 2px solid #cf273a;
    border-right: 2px solid #cf273a;
    transition: 0.5s;

    padding: 2%;
}