@use "/src/assets/style/vars.scss" as *;

.games-container {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;

    >h1 {
        font-size: clamp(60px, 2.5vh + 6vw, 8vw);
        font-family: $second_font;
        text-align: end;
        margin-right: 5%;
    }
    h2 {
        font-size: clamp(12px, 1vh + 1.6vw, 1.7vw);
    }

    background: url(/game-background.png) no-repeat center;
    background-size: cover;
}

.games-preview {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 4% 0;
    padding: 0 4%;
    gap:7%;
}

.game-slide {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 4%;
}

.swiper-button-next,
.swiper-button-prev {
    transition: 0.2s;
    color: white !important;
    width: 40px;
    height: 40px;
}

.swiper-button-next:hover {
    color: #bd59ff !important;
}
.swiper-button-prev:hover {
    color: #bd59ff !important;
}

@media(max-width: 500px) {
    .games-catalog {
        gap: 3vh !important;
    }
}