@use "/src/assets/style/vars.scss" as *;

$news-heading-font-size: clamp(15px, 2vh + 2vw, 2vw);
$news-heading2-font-size: clamp(15px, 2vh + 2vw, 2.5vw);
$news-text-font-size: clamp(15px, 2vh + 1.5vw, 1.4vw);
$news-date-font-size: clamp(15px, 2vh + 1.5vw, 1.7vw);

.news-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.news-container-content {
    width: 80%;
}

.news-pages {
    display: flex;
    justify-content: space-between;
    background-size: 100%;
    gap: 4%;
}

.news-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $second_font;
    background-color: #fff4f4;
    padding: 1% 1%;
    letter-spacing: 5px;
    height: 60px;
    width: 41.5%;
}

.news-navigation {
    display: flex;
    gap: 30px;
}

.news-heading-content {
    margin-left: 3%;
    transform: scaleY(1.5);

    h1 {
        color: #da01dc;
        font-size: $news-heading-font-size;
    }
}

.news {
    width: 43%;
    h2 {
        color: #4d0280;
        font-size: $news-heading2-font-size;
    }

    p {
        color: #4d0280;
    }

    .news-date {
        display: flex;
        align-items: center;
        white-space: nowrap;

        p {
            font-size: $news-date-font-size;
        }
    }
}

.news-background {
    display: inline-block;
    width: 105%;
    height: auto;
    background: url(/news-background.png) no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 1/1;
}

.news-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    margin: 2.4% 1% 0 4%;
    padding: 3%;
    background-color: #fff4f4;
    aspect-ratio: 1 /1;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

.news-content-text {
    height: 30%;
    >p {
        margin-top: 1%;
        margin-left: 1vw;
        font-size: $news-text-font-size;
    }
}

.news-image {
    display: block;
    box-sizing: border-box;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 70%;
    width: auto;
    aspect-ratio: 3 / 4;
}

.news-image.main {
    height: 80%;
}

@media(max-width: 1700px) {
    .news-navigation {
        height: 90%;
    }
}


@media(max-width: 850px) {
    .news-heading {
        width: 100%;
    }
    .news-container-content {
        width: 50%;
    }
    .news-pages {
        flex-direction: column;
        gap:1vh;
    }
    .news {
        width: 100%;
    }
    .news-navigation {
        height: 60%;
    }
}

@media(max-width: 700px) {
    .news-container-content {
        width: 60%;
    }
}

@media(max-width: 600px) {
    .news-container-content {
        width: 70%;
    }
}